<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contato</title>
    <link href="stylesheet" rel="/css/style.css">
</head>
<body>
    <h1>Fale conosco</h1>
    <form action="/contato" method="POST">
        <!--input pro nome-->
        <label for="name">Nome:</label><br>
        <input type="text" name="name" id="name" required/><br>

        <!--input pro email-->
        <label for="email">Email:</label><br>
        <input type="email" name="email" id="email" required/><br>

        <!--input pro assunto(subject)-->
        <label for="subject">Assunto:</label><br>
        <input type="text" name="subject" id="subject" required/><br>

        <!--Usa-se o text area sempre para comentarios-->
        <label for="message">Mensagem:</label><br>
        <textarea name="message" id="message" required></textarea><br>

        <button type="submit">Enviar contato</button>
    </form>
    <a href="/">Voltar para o início<br></a>
    <a href="/api/lanches">Ver Lanches<br></a>
</body>
</html>