<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devburguer</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>PAGINA INICIAL</h1>
    <form action="/sugestao" method="GET">
        <div>
            <label for ="nome">Nome :</label>
            <input type="text" name="nome" id="nome" required/>
        </div>
        <div>
            <label for ="ingredientes">Ingredientes sugeridos :</label>
            <textarea type="text" name="ingredientes" id="ingredientes" required></textarea>
        </div>
        <button type="submit">Enviar sugestão de lanche!</button>
    </form>
</body>
</html>